name: Test-Build
on: [push, workflow_dispatch]
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Sag Hallo
        run: echo "GitHub Actions lebt!"
